

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prismâ€™s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}
pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: hsl(24, 20%, 85%);
}

.token.tab:not(:empty):before {
	content: 'â–¸';
}

.token.cr:before {
	content: 'â';
}

.token.lf:before {
	content: 'âŠ';
}
.token a {
	color: inherit;
}
code[class*="language-"] a[href],
pre[class*="language-"] a[href] {
	cursor: help;
	text-decoration: none;
}

code[class*="language-"] a[href]:hover,
pre[class*="language-"] a[href]:hover {
	cursor: help;
	text-decoration: underline;
}
pre[class*='language-'] {
	position: relative;
}
pre[class*='language-'] > code[data-language] {
	overflow: auto;
	max-height: 28em;
	display: block;
}
pre[class*='language-'] > code[data-language]::before {
	content: attr(data-language);
	color: black;
	background-color: #CFCFCF;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.9em;
	border-radius: 0 0 0 5px;
	padding: 0 0.5em;
	text-shadow: none;
}



table.footable-details,table.footable>thead>tr.footable-filtering>th div.form-group{margin-bottom:0}table.footable,table.footable-details{position:relative;width:100%;border-spacing:0;border-collapse:collapse}table.footable-hide-fouc{display:none}table>tbody>tr>td>span.footable-toggle{margin-right:8px;opacity:.3}table>tbody>tr>td>span.footable-toggle.last-column{margin-left:8px;float:right}table.table-condensed>tbody>tr>td>span.footable-toggle{margin-right:5px}table.footable-details>tbody>tr>th:nth-child(1){min-width:40px;width:120px}table.footable-details>tbody>tr>td:nth-child(2){word-break:break-all}table.footable-details>tbody>tr:first-child>td,table.footable-details>tbody>tr:first-child>th,table.footable-details>tfoot>tr:first-child>td,table.footable-details>tfoot>tr:first-child>th,table.footable-details>thead>tr:first-child>td,table.footable-details>thead>tr:first-child>th{border-top-width:0}table.footable-details.table-bordered>tbody>tr:first-child>td,table.footable-details.table-bordered>tbody>tr:first-child>th,table.footable-details.table-bordered>tfoot>tr:first-child>td,table.footable-details.table-bordered>tfoot>tr:first-child>th,table.footable-details.table-bordered>thead>tr:first-child>td,table.footable-details.table-bordered>thead>tr:first-child>th{border-top-width:1px}div.footable-loader{vertical-align:middle;text-align:center;height:300px;position:relative}div.footable-loader>span.fooicon{display:inline-block;opacity:.3;font-size:30px;line-height:32px;width:32px;height:32px;margin-top:-16px;margin-left:-16px;position:absolute;top:50%;left:50%;-webkit-animation:fooicon-spin-r 2s infinite linear;animation:fooicon-spin-r 2s infinite linear}table.footable>tbody>tr.footable-empty>td{vertical-align:middle;text-align:center;font-size:30px}table.footable>tbody>tr>td,table.footable>tbody>tr>th{display:none}table.footable>tbody>tr.footable-detail-row>td,table.footable>tbody>tr.footable-detail-row>th,table.footable>tbody>tr.footable-empty>td,table.footable>tbody>tr.footable-empty>th{display:table-cell}@-webkit-keyframes fooicon-spin-r{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fooicon-spin-r{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fooicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings'!important;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fooicon:after,.fooicon:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.fooicon-loader:before{content:"\e030"}.fooicon-plus:before{content:"\2b"}.fooicon-minus:before{content:"\2212"}.fooicon-search:before{content:"\e003"}.fooicon-remove:before{content:"\e014"}.fooicon-sort:before{content:"\e150"}.fooicon-sort-asc:before{content:"\e155"}.fooicon-sort-desc:before{content:"\e156"}.fooicon-pencil:before{content:"\270f"}.fooicon-trash:before{content:"\e020"}.fooicon-eye-close:before{content:"\e106"}.fooicon-flash:before{content:"\e162"}.fooicon-cog:before{content:"\e019"}.fooicon-stats:before{content:"\e185"}table.footable>thead>tr.footable-filtering>th{border-bottom-width:1px;font-weight:400}table.footable.footable-filtering-right>thead>tr.footable-filtering>th,table.footable>thead>tr.footable-filtering>th{text-align:right}table.footable.footable-filtering-left>thead>tr.footable-filtering>th{text-align:left}table.footable-paging-center>tfoot>tr.footable-paging>td,table.footable.footable-filtering-center>thead>tr.footable-filtering>th,table.footable>tfoot>tr.footable-paging>td{text-align:center}table.footable>thead>tr.footable-filtering>th div.form-group+div.form-group{margin-top:5px}table.footable>thead>tr.footable-filtering>th div.input-group{width:100%}table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox{margin:0;display:block;position:relative}table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox>label{display:block;padding-left:20px}table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox input[type=checkbox]{position:absolute;margin-left:-20px}@media (min-width:768px){table.footable>thead>tr.footable-filtering>th div.input-group{width:auto}table.footable>thead>tr.footable-filtering>th div.form-group{margin-left:2px;margin-right:2px}table.footable>thead>tr.footable-filtering>th div.form-group+div.form-group{margin-top:0}}table.footable>tbody>tr>td.footable-sortable,table.footable>tbody>tr>th.footable-sortable,table.footable>tfoot>tr>td.footable-sortable,table.footable>tfoot>tr>th.footable-sortable,table.footable>thead>tr>td.footable-sortable,table.footable>thead>tr>th.footable-sortable{position:relative;padding-right:30px;cursor:pointer}td.footable-sortable>span.fooicon,th.footable-sortable>span.fooicon{position:absolute;right:6px;top:50%;margin-top:-7px;opacity:0;transition:opacity .3s ease-in}td.footable-sortable.footable-asc>span.fooicon,td.footable-sortable.footable-desc>span.fooicon,td.footable-sortable:hover>span.fooicon,th.footable-sortable.footable-asc>span.fooicon,th.footable-sortable.footable-desc>span.fooicon,th.footable-sortable:hover>span.fooicon{opacity:1}table.footable-sorting-disabled td.footable-sortable.footable-asc>span.fooicon,table.footable-sorting-disabled td.footable-sortable.footable-desc>span.fooicon,table.footable-sorting-disabled td.footable-sortable:hover>span.fooicon,table.footable-sorting-disabled th.footable-sortable.footable-asc>span.fooicon,table.footable-sorting-disabled th.footable-sortable.footable-desc>span.fooicon,table.footable-sorting-disabled th.footable-sortable:hover>span.fooicon{opacity:0;visibility:hidden}table.footable>tfoot>tr.footable-paging>td>ul.pagination{margin:10px 0 0}table.footable>tfoot>tr.footable-paging>td>span.label{display:inline-block;margin:0 0 10px;padding:4px 10px}table.footable-paging-left>tfoot>tr.footable-paging>td{text-align:left}table.footable-editing-right td.footable-editing,table.footable-editing-right tr.footable-editing,table.footable-paging-right>tfoot>tr.footable-paging>td{text-align:right}ul.pagination>li.footable-page{display:none}ul.pagination>li.footable-page.visible{display:inline}td.footable-editing{width:90px;max-width:90px}table.footable-editing-no-delete td.footable-editing,table.footable-editing-no-edit td.footable-editing,table.footable-editing-no-view td.footable-editing{width:70px;max-width:70px}table.footable-editing-no-delete.footable-editing-no-view td.footable-editing,table.footable-editing-no-edit.footable-editing-no-delete td.footable-editing,table.footable-editing-no-edit.footable-editing-no-view td.footable-editing{width:50px;max-width:50px}table.footable-editing-no-edit.footable-editing-no-delete.footable-editing-no-view td.footable-editing,table.footable-editing-no-edit.footable-editing-no-delete.footable-editing-no-view th.footable-editing{width:0;max-width:0;display:none!important}table.footable-editing-left td.footable-editing,table.footable-editing-left tr.footable-editing{text-align:left}table.footable-editing button.footable-add,table.footable-editing button.footable-hide,table.footable-editing-show button.footable-show,table.footable-editing.footable-editing-always-show button.footable-hide,table.footable-editing.footable-editing-always-show button.footable-show,table.footable-editing.footable-editing-always-show.footable-editing-no-add tr.footable-editing{display:none}table.footable-editing.footable-editing-always-show button.footable-add,table.footable-editing.footable-editing-show button.footable-add,table.footable-editing.footable-editing-show button.footable-hide{display:inline-block}


tr.footable-empty {
    display: none !important;
}
.anchored {
	position: relative;
}

.anchored span.anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -70px;
	visibility: hidden;
}

.docs-section {}

.docs .tab-content {
	padding: 15px;
}

.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.callout-warning {
	border-left-color: #aa6708;
}
.callout-warning h4 {
	color: #aa6708;
}
.callout-info {
	border-left-color: #1b809e;
}
.callout-info h4 {
	color: #1b809e;
}

.fooicon {
    position: absolute;
    top: 14px;
    right: 8px !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings'!important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body td.footable-first-visible.footable-last-visible {
    background: #283143 !important;
    color: #DDDDDD !important;
    height: 57px;
    font-size: 19px;
    padding-top: 14px;
    font-weight: 600;
}

table>tbody>tr>td>span.footable-toggle {
    opacity: 1 !important; 
}

.fooicon-plus:before {
    content: "\2b";
    color: #fff !important;
    opacity: 1 !important;
}

body td.footable-first-visible.footable-last-visible {
    background: #283143 !important;
    color: #DDDDDD !important;
    height: 57px;
    font-size: 19px;
    padding-top: 14px;
    font-weight: 600;
    float: left;
    text-align: left;
    padding-left: 14px;
}

.dls:after{
	display: none;
	}
	
	table.footable-details>tbody>tr>th:nth-child(1) {
    background: none !important;
}

.docs pre {
	word-wrap: normal;
}
.docs code[class*="language-"],
.docs pre[class*="language-"] {
	color: inherit;
	text-shadow: none;
	padding: 0;
}
.docs code[class*="language-"] {
	padding: 10px;
}
.docs :not(pre) > code[class*="language-"],
.docs pre[class*="language-"] {
	background: #f5f5f5;
}
.docs .token.tab:not(:empty):before,
.docs .token.cr:before,
.docs .token.lf:before {
	color: #f5f5f5;
}

.breakpoint-table td {
	text-align: center;
}
.breakpoint-table th small {
	display: block;
	font-weight: 400;
	color: #999;
}
.breakpoint-table td.is-visible {
	color: #468847;
	background-color: #dff0d8!important;
}
.breakpoint-table td.is-hidden {
	color: #ccc;
	background-color: #f9f9f9!important;
}
.list li {
	margin-bottom: 10px;
}
.list li > a,
.list li > h4 {
	display: block;
	font-size: 18px;
	text-decoration: none;
	margin: 0;
}
.list li > small {
	display: block;
	font-weight: 400;
	color: #999;
	text-decoration: none;
	margin-top: 5px;
}
.example {
	position: relative;
	padding: 45px 15px 15px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 30px;
	background-color: #fff;
	border: solid 1px #ddd;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.example:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.example:after { content: "Example"; }
.example.plural:after { content: "Examples"; }
.example.default:after { content: "Default"; }
.example.returns:after { content: "Returns"; }
.example.supports:after { content: "Supports"; }
.example.static:after { content: "Static Example"; }
.example.static.plural:after { content: "Static Examples"; }
.example.javascript:after { content: "JavaScript Example"; }
.example.javascript.plural:after { content: "JavaScript Examples"; }

.example+table,
.example+pre+table,
.example+pre.between,
.example+table.between,
.example+pre,
.example+pre+pre {
	margin-top: -31px;
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
}
.example+table,
.example+pre+table,
.example+pre,
.example+pre+pre {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 30px;
}
.example+table.between,
.example+pre.between {
	border-radius: 0;
}

.examples {
	margin-bottom: 30px;
}
.examples > .example,
.examples > table,
.examples > div.list-group,
.examples > pre,
.examples > p {
	border: solid 1px #ddd;
	border-radius: 0;
	margin: -1px 0 0 0 !important;
}
.examples > div.list-group,
.examples > pre,
.examples > p {
	padding: 15px;
}
.examples > .example:first-child,
.examples > table:first-child,
.examples > div.list-group:first-child,
.examples > pre:first-child,
.examples > p:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.examples > .example:last-child,
.examples > table:last-child,
.examples > div.list-group:last-child,
.examples > pre:last-child,
.examples > p:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}


.docs-option {
	margin-bottom: 30px;
}
.docs-option > .docs-section {
	margin-left: 30px;
}

.list-group-detailed.child {
	margin-left: 30px;
}
.list-group-detailed.grand-child {
	margin-left: 60px;
}
.list-group-header {
	border: solid 1px #ddd;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0;
	padding: 10px 15px;
	font-size: 20px;
	text-shadow: 0 -1px 0 #286090;
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
	border-color: #2b669a;
	color: #fff;
	background-color: #337ab7;
}
.list-group-header small {
	display: block;
	color: #FFF;
	margin-top: 5px;
}
.list-group-detail {
	border: solid 1px #ddd;
	border-bottom: none;
	border-top: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	max-height: 0;
	overflow: hidden;
}
.list-group-detail:last-child {
	border-bottom: solid 1px #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.list-group-detail.transitions {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.list-group-detail-inner {
	overflow:auto;
	padding: 20px;
}

.align-center {
	text-align: center;
}

@media screen and (min-width: 480px) {
	.container .jumbotron, .container-fluid .jumbotron {
		padding-right: 30px;
		padding-left: 30px;
	}
}