
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{title}}</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%"
     style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
            <tr>
                <!--<td style="vertical-align: top; padding-bottom:30px;" align="center"><a href="javascript:void(0)" target="_blank"><img src="../plugins/images/admin-logo-dark.png" alt="Admin Responsive web app kit" style="border:none"><br/>-->
                <!--<img src="../plugins/images/admin-text-dark.png" alt="admin Responsive web app kit" style="border:none"></a> </td>-->
            </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td><b>Welcome, {{param.name}}</b>
                        <p>Thanks for signing up for {{project}}! Please click the link below to confirm your email
                            address..: </p>
                        <a href="javascript: void(0);"
                           style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #1e88e5; border-radius: 60px; text-decoration:none;">
                            Activate account</a>
                        <br>
                        <p>Verification email:{{param.email}}</p>
                        <p>Click button "Activate account"</p>
                        <p>(This link will expire in 2 days.)</p>
                        <b>- Thanks ({{project}} team)</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
            <p> Powered by {{project}} <br>
                <a href="javascript: void(0);" style="color: #b2b2b5; text-decoration: underline;">Unsubscribe</a></p>
        </div>
    </div>
</div>
</body>
</html>
