.col-md-12.text-center
    .panel.panel-primary
        .panel-heading
            h3(style='color: white;')  !{lang.IDexchange} : !{exchange.id}
        .panel-body
            h4 К оплате:
                strong !{(+(exchange.amount_1 + exchange.commission_1).toFixed(route.tofixed1))} !{exchange.type}
            hr
            strong Введите BTC-e CODE:
            br
            input#code(type='text',placeholder="BTC-E code",style='min-width: 60%;font-size: 12px;height: 25px;')
.col-sm-12(style='padding-top: 30px;')
    .col-sm-6(style='padding: 0 10px;')
        - var param0 = JSON.stringify({swal:{type:true,action:"remove"}});
        - var param1 = JSON.stringify({swal:{type:true,action:"load"},input:['#code']});
        buttom.btn.btn-danger(style='width: 100%', onclick='merchant_pay_confirm(' + exchange.id + ',0,'+param0+')')  Удалить обмен
    .col-sm-6(style='padding: 0 10px;')
        buttom.btn.btn-primary(style='width: 100%', onclick='merchant_pay_confirm(' + exchange.id + ',1,'+param1+')') Оплатить